*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    height: 100vh;
    width: 100%;
    background-image: url("../public/image\ 1.png");
}
#gradient{
    background:linear-gradient(to bottom , #64646433, #000000);
    height: 100vh;
    width: 100%;
}

